
<div class="container">
    <div class="py5 text-center">
        <h1>Póliza - Multiplica</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="polizaForm" novalidate>
                <h4>Ubigeo</h4>
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label for="departamento" class="col-sm-2 col-form-label">Departamento</label>
                        <div class="col-sm-6">
                            <select id="departamento" class="form-control" formControlName="departamentoControl" [(ngModel)]="departamentoModel" (ngModelChange)="onChangeDepartamento($event)" required>
                                <option *ngFor="let departamento of departamentoCombo" [ngValue]="departamento.Id">{{departamento.Descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="provincia" class="col-sm-2 col-form-label">Provincia</label>
                        <div class="col-sm-6">
                            <select id="provincia" class="form-control" formControlName="provinciaControl" [(ngModel)]="provinciaModel" (ngModelChange)="onChangeProvincia($event)" required>
                                <option *ngFor="let provincia of provinciaCombo" [ngValue]="provincia.Id">{{provincia.Descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="distrito" class="col-sm-2 col-form-label">Distrito</label>
                        <div class="col-sm-6">
                            <select id="distrito" class="form-control" formControlName="distritoControl" [(ngModel)]="distritoModel" required>
                                <option *ngFor="let distrito of distritoCombo" [ngValue]="distrito.Id">{{distrito.Descripcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <h4>Vigencia de la póliza</h4>
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label for="mydateInicio" class="col-sm-2 col-form-label">Inicio de vigencia</label>
                        <div class="col-sm-4">
                            <my-date-picker name="mydateInicio" [options]="myDatePickerOptionsInicio" formControlName="inicioControl" [(ngModel)]="inicioModel" (dateChanged)="onInitialDateChanged($event)" required></my-date-picker>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fechaFin" class="col-sm-2 col-form-label"> Fin de vigencia</label>
                        <div class="col-sm-3">
                            <p id="fechaFin">{{fechaFinFormato}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary button" [disabled]="!polizaForm.valid"  (click)="savePoliza()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Completé formulario</button>
                </div>
            </form>
        </div>
    </div>
</div>